@import url('https://fonts.googleapis.com/css?family=Caveat|Satisfy&display=swap');
h1,p,a{
    font-family: 'Caveat', cursive;
}
p,h1, h2{
    background-color:rgba(219,244,255,0.4);
}
body{
    box-sizing: margin-box;
    padding: 15px;
    background-image: url("norfolkBeach.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    width: 500px;
}
.image1 {
    width: 100px;
}
.mmuimage {
    width: 35px;
}
.image3 {
    width: 65px;
}
.contact {
    position: relative;
    left: 70px;
    top: -100px;
    z-index: -1;
    width: 200px;
}
.welcomeimage {
    left: 100px;
    z-index: -1;
    width:995px;
}
.welcomemessage {
    top: 600px;
    left: 150px;
    z-index: -1;
    font-size: 25px;
    color: #8200b5;
    background-color: transparent;
}
.crab {
    position: relative;
    left: 900px;
    width:100px;
    top: -100px;
}

}
a {
    color: #ea34ed;
    font-size: 100px;
    font-family:'Caveat', cursive;
    background-color: transparent;
    width: 20px;
}